<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <h5>VỀ CHÚNG TÔI</h5>
                <p>YFashion là thương hiệu thời trang nam năng động, hiện đại và trẻ trung...</p>
            </div>
            <div class="col-md-4">
                <h5>ĐƯỜNG DẪN</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white-50 text-decoration-none">Trang chủ</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">Về chúng tôi</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>LIÊN HỌ</h5>
                <p>📍 Số 3, đường Trịnh Văn Bô, Nam Từ Liêm, Hà Nội</p>
                <p>📞 0363652758</p>
                <p>✉️ Buianhtuangmail.com</p>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" placeholder="Email address">
                    <button class="btn btn-secondary">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</footer>
