<app-header></app-header>
<app-banner></app-banner>
<!-- DANH MỤC SẢN PHẨM -->
<main class="container py-5">
  <h2 class="text-center mb-4">Danh Mục Sản Phẩm</h2>

<div class="row g-4">
  <div class="col-md-3" *ngFor="let product of products">
    <div class="card h-100 shadow-sm position-relative">
      
      <!-- Icon trái tim góc trên phải -->
      <button 
        class="btn btn-light rounded-circle position-absolute top-0 end-0 m-2"
      >
        <i [ngClass]="{'bi-heart-fill text-danger': product.isFavorite, 'bi-heart': !product.isFavorite}" class="bi fs-5"></i>
      </button>

      <img [src]="product.image" class="card-img-top" alt="{{ product.name }}" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text text-danger fw-bold">
          {{ product.price | currency:'VND':'symbol':'1.0-0' }}
        </p>
        <button class="btn btn-primary w-100">Thêm vào giỏ</button>
      </div>
    </div>
  </div>
</div>

  <div class="text-center mt-4" >
    <button class="btn btn-danger px-4">Xem Thêm</button>
  </div>
</main>
<app-footer></app-footer>